{% for mesure in mesures %}
    <div class="d-flex justify-content-between carte col-4">
        <div class="image">
            <img src="{{ mesure.image }}" class="img-fluid" />
        </div>
        <div class="content">
        
        </div>
    </div>
{% endfor %}