{% extends 'base.html.twig' %}
{% block title %}Mesmesures | Accueil{% endblock %}
{% block stylesheets %}
    <style>
        .block-form{ border:2px solid white; border-radius:8px; padding:20px 50px 50px 50px; }
        .block-form .block-title{ width:100%; border-bottom: 2px solid white; margin-bottom:15px; color: #E3890E; text-align:left; }
        .block-form .block-title a{ color:white; text-decoration:none; }
        .block-form .form{ text-align:center; }
        .block-form .form input{ outline:none; border:none; margin:1px; width:94%; padding:10px; border-radius:5px; }
        .block-form .form .submit{ padding:15px; font-weight:bold; border:none; outline:none; border-radius: 5px; cursor:pointer; transition: background 0.2s ease; }
        .block-form .form .submit:hover{ background:#cbcbcb; }
        .block-form .form div:last-child{ text-align:end; }
        .loading-bar {display: inline-block; width: 4px; margin-top:20px; margin-right:2px; height: 18px; border-radius: 4px; animation: loading 1s ease-in-out infinite;}
        .loading-bar:nth-child(1) {background-color: #E3890E; animation-delay: 0;}
        .loading-bar:nth-child(2) {background-color: #E3890E; animation-delay: 0.09s;}
        .loading-bar:nth-child(3) {background-color: #E3890E; animation-delay: .18s;}
        .loading-bar:nth-child(4) { background-color: #E3890E; animation-delay: .27s; }
        .success{ background:#90B234; }
        .error { background:#E54545; }
        .error, .success{ display:flex; justify-content:center; align-items:center; margin:2px 0 2px 0; padding:0 15px 0 15px; height:45px; border:none; outline:none; border-radius:5px; font-weight:bold; color:white; width:100%; }
        .zone-submit { display:flex; flex-direction:row-reverse; justify-content:end; align-items:center; text-align:center; }
        .zone-response{ display:flex; justify-content:center; width:100%; text-align:center; align-items:center; }
        @keyframes loading { 0% { transform: scale(1); } 20% { transform: scale(1, 2.2); } 40% { transform: scale(1); } }
    </style>
{% endblock %}

{% block body %}
    <div class="block-form">
        <div class="block-title">
            <h2>Récupérer mot de passe</h2>
            <a href="{{ path('app_login') }}">Se connecter</a>
        </div>
        <div class="form">
            <div class="zone-response"></div>
            <div>
                <input type="email" placeholder="Adresse mail" class="email" />
            </div>
            <div class="zone-submit">
                <button type="submit" class="submit">Récupération</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript">
        $('.submit').click(function(){
            var data = $('.email').val();
            var load = '<div class="loading"> <div class="loading-bar"></div> <div class="loading-bar"></div> <div class="loading-bar"></div> <div class="loading-bar"></div> </div>';
            var success = '';
            $.ajax({
                type:'POST',
                url: "{{ path('send_mail_password') }}",
                dataType:"json",
                data: { data:data },
                beforeSend: function(){
                    $('.zone-submit .submit').hide();
                    $('.zone-submit').append(load);
                },
                success: function(response){
                    $(document).find('div.loading').remove();
                    $(document).find('div.zone-response').empty();
                    $('.zone-submit .submit').show();
                    if(response == ""){
                        $(document).find('div.zone-response').append('<div class="success">Message envoyé.</div>');
                    } else {
                        $('.zone-submit .submit').show();
                        $(document).find('div.zone-response').append('<div class="error">' + response + '</ class="error">');
                    }


                }
            });
        });
    </script>
{% endblock %}