{% extends 'base.html.twig' %}

{% block title %}Mesmesures | Accueil{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_login') }}"><button>Connexion</button></a>
        <a href="{{ path('registration') }}"><button>Inscription</button></a>
    </div>
{% endblock %}
