<h2>Récupération de mot de passe</h2>
<p>Bonjour {{ user.username }}, veuillez trouvez <a href="http://127.0.0.1:8000/change_password?mail={{ user.username }}&token={{ token }}">ci-joint</a> le lien vers la page de changement de mot de passe.<br \>
Vous disposez de 2h pour changer de mot de passe à compter de la réception de ce courrier</p>