<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            @font-face{
                font-family: "dos";
                src: url("{{ asset('font/dos.ttf') }}");
            }
            body, html{
                background: #292929;
                width:100%;
                height:100%;
                margin:0;
                padding:0;
            }
            body{
                display:flex;
                justify-content:center;
                align-items:center;
            }
            h1{
                font-family:'dos';
                color: #E3890E;
                font-size:5rem;
            }
            .block-content{
                display:flex;
                flex-direction:column;
                margin:10px;
            }
            .block-title{
                text-align:center;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="block-content">
            <div class="block-title">
                <h1>Mes Mesures</h1>
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
