<div class="modal fade" id="infosManquantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Dites-nous en plus sur vous</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
              {% if 'Age' in dataForgot %}
                <div class="form-group position-relative">
                  <input type="text" class="ageInput form-control" placeholder="Age" />
                </div>
              {% endif %}

              {% if 'Poids' in dataForgot %}
                <div class="form-group position-relative">
                  <input type="text" class="poidsInput form-control" placeholder="Poids du corps" />
                </div>
              {% endif %}

              {% if 'ObjectifPoids' in dataForgot %}
                <div class="form-group position-relative">
                  <input type="text" class="objectifPoidsInput form-control" placeholder="Objectif poids" />
                </div>
              {% endif %}

              {% if 'Taille' in dataForgot %}
                <div class="form-group position-relative">
                  <input type="text" class="tailleInput form-control" placeholder="Taille du corps" />
                </div>
              {% endif %}

              {% if 'Sexe' in dataForgot %}
                <div class="d-flex justify-content-center">
                  <div class="homme fake-input active" data-attribute="Homme">Homme</div>
                  <div class="femme fake-input" data-attribute="Femme">Femme</div>
                </div>
              {% endif %}

              {% if 'ProfilSportif' in dataForgot %}
                <h2 class="mt-3 text-center">Votre profil sportif</h2>
                <div class="row no-gutters mt-3 position-relative">
                  <div class="target-error-message"></div>
                  {% for ps in profilsSportif %}  
                    <div class="col bloc-profil-sportif position-relative align-items-center text-center">
                      <div class="d-flex justify-content-center flex-column bloc">
                        <label class="">{{ ps.libelle }}</label>  
                        <input type="radio" name="profilSportif" value="{{ ps.libelle }}" /> <br />
                      </div>
                      <div class="position-absolute description d-none infobulle align-items-center justify-content-center">
                        {{ ps.description }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" id="submitMissInfosForm">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>