<div class="modal fade" id="infosManquantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Certaines informations sont nécessaires pour calculer vos besoins calorique de base</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
            {# Enregistrement de l'age #}
              {% if data[3] is null or data[3] == "" %}
                <div class="form-group position-relative">
                  <input type="text" class="ageInput form-control" placeholder="Age" />
                </div>
              {% endif %}

            {# Enregistrement du poids #}
              {% if data[0] is null or data[0] == '' %}
                <div class="form-group position-relative">
                  <input type="text" class="poidsInput form-control" placeholder="Poids du corps" />
                </div>
              {% endif %}

            {# Enregistrement de la taille #}
              {% if data[1] is null or data[1] == '' %}
                <div class="form-group position-relative">
                  <input type="text" class="tailleInput form-control" placeholder="Taille du corps" />
                </div>
              {% endif %}

            {# Enregistrement du sexe #}
              {% if data[2] is null or  data[2] == '' %}
                <div class="d-flex justify-content-center">
                  <div class="homme fake-input active" data-attribute="Homme">Homme</div>
                  <div class="femme fake-input" data-attribute="Femme">Femme</div>
                </div>
              {% endif %}

            {# Enregistrement du profil sportif de l'utilisateur #}
              {% if data[5] is null or data[5] == '' %}
                <h2 class="mt-3">Votre profil sportif</h2>
                <div class="row no-gutters mt-3">
                  {% for ps in profilsSportif %}  
                    <div class="col bloc-profil-sportif position-relative align-items-center">
                      <div class="d-flex justify-content-center flex-column bloc">
                        <label>{{ ps.libelle }}</label>  
                        <input type="radio" name="profilSportif" value="{{ ps.libelle }}" /> <br />
                      </div>
                      <div class="position-absolute description d-none infobulle align-items-center justify-content-center">
                        {{ ps.description }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="target_error_message"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" id="submitMissInfosForm">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>